<html lang="en" ng-app="PopQuizApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <title>PopQuiz !</title>
    </head>
    
    <body ng-cloak ng-controller="PopQuizCtrl as ctrl">
        <div >
            <h1>POP Quiz</h1>
            <form name="popquizForm" ng-submit="ctrl.submitQuiz()" novalidate>
                <div>
                    <label>{{ctrl.quiz.question}}</label>
                </div>
                <div>
                    <ul ng-repeat="answer in ctrl.quiz.answers" style="list-style-type:none">
                        <li><input name="answer" type="radio" ng-model="ctrl.finalAnswer.choice" value="{{answer.idx}}"/> {{answer.desc}}</li>
                    </ul>
                </div>
                <div>
                    <textarea rows="4" cols="50" ng-model="ctrl.finalAnswer.remarks"></textarea>
                </div>
                <div>
                    <hr/>
                    <input id="submit" name="submit" type="submit"/>
                </div>
            </form>
        </div>
        <div ng-show="ctrl.isCorrect.correctMessage">
            {{ctrl.isCorrect.correctMessage}}
        </div>
        
    </body>
</html>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>    
<script src="js/app.module.js"></script>
<script src="js/app.controller.js"></script>